div
  h2 Change Password
  .ui.form
    .ui.field
      .field
        label Password
        input(name="password", type="password" v-model="model.password")
    .ui.field
      .field
        label New Password
        input(name="password", type="password", v-model="model.newPassword")
    .ui.primary.submit.button(@click="changePassword") Submit