.ui.form
  .ui.field
    .field
      label Group Name
      input(id="groupName", v-model="model.groupName")
  .ui.field
    .field
      label Number of Players
      input(id="numOfPlayers", type="number", max="4", min="1", v-model="model.numberOfPlayers")
  .ui.field
    .field
      label Cart Number
      input(id="cartNum", v-model="model.cartNumber")
  .ui.primary.submit.button(@click="submit") Submit
  .ui.error.message