.ui.form(v-if="isCreatingUser")
  .ui.field
    .field
      label Username
      input(id="username", v-model="userModel.username")
  .ui.segment
    .field
      .ui.toggle.checkbox
        input(id="isAdmin", type="checkbox", v-model="userModel.isAdmin")
        label Make this user an Administrator?
  .ui.primary.button(@click="createUser") Submit
  .ui.red.button(@click="finishCreatingUser") Cancel

div(v-else-if="hasCreatedUser")
  .ui.segment
    p Username: {{ createdUser.username }}
    p Password: {{ createdUser.password }}
    p Administrator: {{ createdUser.isAdmin }}

  .ui.primary.button(@click="finishCreatingUser") Done
    
div(v-else)
  h2.ui.header Marshals
  userCard(v-for="(username, i) in usernames", :key="i", :username="username", @user-deleted="getUsers")
  br

  h2.ui.header Admins
  userCard(v-for="(adminName, i) in admins", :key="i", :username="adminName")
  br

  .ui.primary.button(@click="beginCreatingUser") Create User